body .page {
  margin: 0 auto;
  width: 400px;
  height: 500px;
}
body .page .form-group {
  text-align: center;
}
body .page .form-group h1 {
  margin: 50px 0 50px 0;
}
body .page .form-group .control-label {
  text-align: right;
}
body .page .form-group .btn {
  width: 100%;
}